################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NAudioFLAC/Library/bin
/NAudioFLAC/Library/obj
/PracticeSharpApp/bin
/PracticeSharpApp/obj/x86
/NAudioOggVorbis/Library/bin
/NAudioOggVorbis/Library/obj/x86
*.suo
/PracticeSharpApp/packages
